html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    color: #2F281E;
font-family: "Open Sans";
font-size: 3.4rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 14px;
}
.paragraph{
    color: #544837;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-bottom: 45px;
}
.name{
    color: #544837;
font-family: "Open Sans";
font-size: 1.6rem;
font-style: normal;
font-weight: 700;
line-height: 26px; 
}
.job{
    color: #544837;
font-family: "Open Sans";
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.email{
    color: #1943EF;
font-family: "Open Sans";
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 26px; 
text-decoration: none;
cursor: pointer;
}
.employees{
    display: flex;
    justify-content: space-between;

}
.employee-item{
    position: relative;
    width: 345px;
    height: 141px;
    padding-top: 35px;
    padding-left: 35px;
    border-radius: 10px;
background: #FFF;
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.image{
    position: absolute;
    top: 7px;
    bottom: 40px;
    right: -62px;
}

.section-2{
    background: #FFEEE1;
    margin-top: 124px;
    padding-top: 62px;
    padding-bottom: 82px;
}
.container-2{
    display: flex;
    gap: 100px;
}
.div-left{
    flex: 1;
}
.div-right{
    flex: 1;
}
.info-same{
    display: flex;
    gap: 11px;
    margin-top: 19px;
}
.link-2{
    text-decoration: none;
    color: #544837;
font-family: "Open Sans";
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.image-second{
    width: 30px;
    height: 30px;
}
.title-2{
    margin-bottom: 17px;
}

.input-item{
    flex: 1;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #FFF;
    padding: 10px 21px ;
    display: inline-block;
    width: 280px;
    color: #C6C6C6;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.input-item:hover{
    border: 1px solid #F03E3D;
    color: #F03E3D;
    background: #FFF0F0;
}
.input-item:active{
    border: 1px solid #F90;
    background: #FFF;
}
.form-input{
    display: flex;
    gap: 16px;
    margin-top: 63px;
    margin-bottom: 18px;
}
.textarea_1{
    width: 100%;
    color: #C6C6C6;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
resize: none;
width: 577px;
border: none;
padding: 10px 21px;
height: 159px;
border-radius: 5px;
}
.textarea_1:hover{
    border: none;
    border: 1px solid #F03E3D;
    color: #F03E3D;
    background: #FFF0F0;
}
.textarea_1:active{
    border: none;
    border: 1px solid #F90;
    background: #FFF;
}
.btn{
    display: block;
    padding: 15px 35px 16px ;
    border-radius: 4px;
background: #F90;
border: none;
color: #FFF;
text-align: center;
font-family: "Open Sans";
font-size: 1.6rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 20px;
width: 117px;
}
.btn{
    cursor: pointer;
}
.btn:active{
    scale: 0.98;
}

/*productly start*/

.container-3{
    display: flex;
    align-items: flex-start;
}
.section-3{
    padding-top: 61px;
    padding-bottom: 72px;
}
.logo-group{
    display: flex;
    align-items: flex-end;
    gap: 11px;
    margin-right: 151px;
}
.bitmap{
    width: 36px;
    height: 34px;
}
.ul-container{
    list-style: none;
}
.ul-container:nth-child(2){
    margin-right: 146px;
}
.ul-container:nth-child(3){
    margin-right: 211px;
}
.li-item{
    color: #544837;
font-family: "Poppins";
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 35px; 
cursor: pointer;
}
.li-item:hover{
    color: #F90;
}
.big-li{
    color: #2F281E;
    font-family: "Open Sans";
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 15px;
}
.big-li:hover{
    color: #2F281E;
}


/*productly end*/

